@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'Poppins',san-serif;
  }

  #navbar{
    width:100%;
    height:8vh;
    position: sticky;
    top:0;
  }

  nav{
    font-size:1.5rem;
    width: 100%;
    height: 50px;
    background-color: transparent;
    line-height: 50px;
    z-index: 100;
    position:relative;
  }

  nav i{
    display:inline-block;
    width: 4rem;
    height: 3rem;
    border-radius: 50%;
    margin:0.7rem 1rem 0 1rem;
    font-size: 3.5rem;
    color: rgb(4, 233, 245);
    animation-duration: 2s;
    animation-name: shake-pad;
    animation-iteration-count: infinite;
  }

  @keyframes shake-pad{
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-4deg);}
    80% {transform: rotate(4deg);}
    100% {transform: rotate(0deg);}
    
  }

  nav h2{
    display: inline-block;
    position: absolute;
    top:2%;
    color:rgb(229, 196, 5);
  }

  .dropdown {
    float: right;
    /* position: relative; */
  }
  
  .dropdown .profile-icon {
    position: absolute;
    top:16%;
    right:2%;
    width:40px;
    background-color: white;
    border:2px solid blue;
    cursor: pointer;
    padding:2px;
    border-radius: 50%;
    transition: 0.5s;
  }
  

  .profile-icon:hover{
    opacity: 0.5;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    background-color: white;
    min-width: 100px;
    border-radius: 10px;
    z-index: 4;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0px 15px;
    text-decoration: none;
    display: block;
    z-index: 4;
  }

  #arrow-up{
    display: none;
    position: absolute;
    top:100%;
    right:2.9%;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    z-index: auto;
  }

  .dropdown-content a:hover{
    border-radius: 10px;
    color:green;
  }


